ul,
ol {
  text-decoration: none;
  outline: none;
  
}
a,
a:hover {
  text-decoration: none;
  outline: none;
}
i,
i:hover {
  text-decoration: none;
  outline: none;
  color: inherit;
}
.box-shadow {
	-webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
	  0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
	  0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.big:hover {
  transform: scale(1.1) !important;
}